.posterImage{
    height: 550px;
}

.posterImage > img {
    margin: auto;
    display: block;
    width: 80%;
}

.posterImage__overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;
}   

.posterImage__overlay:hover {
    opacity: 1;
}

.posterImage__title {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage__runtime {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.posterImage__rating {
    margin-left: 3rem;
}

.posterImage__description {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: center;
    width: 70%;
}

@media (max-width: 767px) {
    .posterImage__title {
        font-size: 2rem; /* Adjust the font size for smaller screens */
        text-align: center; /* Center the text on mobile screens */
        position: absolute; /* Position the text absolutely */
        top: 40%; /* Position the text 50% from the top */
        left: 50%; /* Position the text 50% from the left */
        transform: translate(-50%, -50%); /* Center the text precisely */
        width: 80%; /* Adjust the width to fit within the image */
    }
}

@media (max-width: 767px) {
    .posterImage__description {
        font-size: 0.8rem; 
        display: none; 
    }
}
/* Adjustments for mobile */
@media (max-width: 767px) {
    .posterImage {
        height: auto;
        max-height: 550px;
    }

    .posterImage > img {
        width: 100%;
    }

    .posterImage__overlay {
        padding: 2rem;
        height: auto;
    }

    .posterImage__title, .posterImage__runtime {
        display: none; /* Hide title and rating on mobile */
    }

    .posterImage__description {
        font-size: 1rem;
        width: 100%;
        text-align: left;
    }

    .carousel {
        width: 100%; /* Adjust carousel width for mobile */
    }
}
